
  main {
    margin: 4rem;
    padding: 0 2rem;
    background-color: aqua;
  }

  section {
    margin: 2rem;
  }

  @media (max-width: 720px) {
    main {
      margin: 1rem;
    }

    section {
      margin: 1rem;
    }
  }
