---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Quinn Huang</h1>
			<p>Hi! I'm <a href="./about">Quinn Huang</a> a fullstack software engineer who likes combining coding + psychology + building actual products. </p>
			<p>Currently living in Philadelphia!</p>
			<section>
				<p>Working at</p>
				<p>Creator of</p>
				<p>My latest project is ...</p>
				<p>My latest blog post ...</p>
			</section>
			<section>
				<p>Outside of programming I have many hobbies - psychology, design, neuroscience, language, meditaiton, movies, music</p>
				<p>
					If you're interesting in my thoughts of projects in any of these things, I post about them on <a href="www.quinnstumbles.com">www.quinnstumbles.com</a>. 
				</p>
			</section>
			
		</main>
		<Footer />
	</body>
</html>
